<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    {% load static %}
    <link href="{% static 'stock/main.css' %}"" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="encabezado">
        <img src="{% static 'stock/Captura.png' %}" alt="">
        <a href="/stock/" class="enc_text">Inicio</a>

    </div>
    <div class="titulo">
        <h1 class="titulo tabla_td"><center>Catalogo</center></h1>
    </div>
    <p class="">
        <a href="#openModal" class=""> + AÑADIR ARTICULO </a>
    </p>

    <table >
        <thead>
            <tr>
                <td class="tr_cab">ID</td>
                <td class="tr_cab">Articulo</td>
                <td class="tr_cab">Descripcion</td>
                <td class="tr_cab" width="100px">Cantidad</td>
            </tr>
        </thead>
        
        <tbody class="">
            
            {% if A %}
            {% for Ar in A%}
           
            <tr >
                <td class="tabla_td"><a href="{{Ar.id}}/"> {{Ar.id }}</a></td>
                <td class="tabla_td">{{ Ar.Articulo }}</td>
                <td class="tabla_td">{{ Ar.Description }}</td>
                <td class="tabla_td">{{ Ar.Cantidad }}</td>

            </tr>
        
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">No hay registro
                </td>
            </tr>
            {% endif %}
            

        </tbody>
        </div>
    </table>
    <div>
        <li><a href="/stock/" class="enc_text">Inicio</a></li>
    </div>
    <div id="openModal" class="modalDialog">
        <div>
        <h3><center>Añadir articulo</center></h3>
        <a href="#close" title="Close" class="close">X</a>
        <form action="{% url 'stock:articulo_nuevo' %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Articulo</td>
                    <td>Descripcion</td>
                    <td>Cantidad</td>
                </tr>
                <tr>
                    <td><input type="text" value="Nombre_nuevo"></td>
                    <td><input type="text" name="Descripcion_nuevo"></td>
                    <td><input type="text" name="Cantidad_nueva"></td>
              </tr>
            </table>
        </form>
        </div>
        
</body>
</html>